{{ $author := site.GetPage (printf "/authors/%s" .Slug) }}
{{ $posts := where $author.Pages "Section" "posts" }}
{{ $layout := site.Params.posts.index.layout }}
{{ $options := site.Params.posts.index.options }}

{{ if $posts }}
  <section class="person-posts">
    <div class="top">
      <h2 class="h5">Films ici</h2>
    </div>
    <!-- remplacer par le template project -->
    <ul class="posts posts--{{- $layout -}}">
      {{ range first 3 $posts }}
        {{ partial "posts/partials/post.html" (dict 
          "post" . 
          "layout" $layout
          "options" $options
        ) }}
      {{ end }}
    </ul>
  </section>
{{ end }}
