// Images
.block-agenda--large, .block-pages--large
    .page .media img
        aspect-ratio: $page-aspect-ratio !important
// Hero
.page-ressources
    .hero
        @include media-breakpoint-up(desktop)
            min-height: 0

body:not(.page-ressources)
    .hero
        @include media-breakpoint-up(desktop)
            min-height: var(--hero-height-desktop)

body:not(.posts__page):not(.projects__page):not(.events__page)
    .hero-text
        @include media-breakpoint-up(desktop)
            margin-top: .5rem !important
        p
            color: var(--color-text-alt)
        span
            display: none

.single-meta .social-share ul.share 
    align-items: baseline

    a
        opacity: .4
        transition: $default-duration
    a:hover
        opacity: 1

.block
    // TYPO
    .page-subtitle,
    .page-description
        font-family: $body-font-family !important
        line-height: 120%

    &.block-title, .block-title
        text-transform: inherit !important

        h2
            font-size: var(--h5-size) !important

    .page-subtitle
        margin-top: var(--spacing-1)
        font-weight: 400


    // BLOCS


    &.block-class-ressources
        .block-content .page-content
            background-color: $color-ressources !important

    &.block-persons
        .description p:not([class])
            font-size: var(--h4-size)
            line-height: var(--h4-line-height)
        
        .person-name
            font-size: var(--body-size) !important

    &.block-call_to_action
        .block-title
            font-size: $small-size-desktop !important
            text-transform: uppercase !important
        .description p
            font-size: $h3-size-desktop
            font-family: $body-font-family
    
    &.block-pages--grid
        .page-title
            font-size: $small-size-desktop 
            text-transform: uppercase 
    &.block-gallery--carousel .slider figure picture img

        height: calc(50 * var(--rvh))


// CATEGORIES
.taxonomies-single,
.project-categories
    a
        color: var(--color-text-alt)
        font-family: "Barlow Cond"
        font-size: var(--small-size)

.categories--list
    .category-item
        .category-content
            align-items: center !important

        a
            &::after
                content: " "
                font-family: 'Icon'
                font-style: normal
                font-variant: normal
                font-weight: normal
                speak: never
                text-transform: none
                display: inline
                color: $color-ui-accent
                font-size: 22px
                transition: 0.55s cubic-bezier(0, 0.65, 0.4, 1.2)

        &:hover
            a::after
                transform: translateX(0.625rem)


// ICONES STADE DEV
.projects-taxonomies,
.project-categories
    .cat-en-developpement
        @include category-icon('/assets/images/en-developpement.svg', .8em, .7em)

    .cat-en-production
        @include category-icon('/assets/images/en-production.svg', 1.1em, 1.1em)

    .cat-en-diffusion
        @include category-icon('/assets/images/en-diffusion.svg', 1.1em, 1.1em)


// CAROUSEL
.block-gallery--carousel
    @include media-breakpoint-up(desktop)
        .slider figure picture img
            height: calc(38 * var(--rvh)) !important


// CHAPITRE

// AGENDA
.pages__section
    .block-agenda--list
        background-color: $color-background-alt-light
        padding: var(--spacing-5) var(--spacing-2)


// PERSONS
.persons__page .hero--with-image figure picture
    border-radius: $border-radius