.block
    .page-subtitle, .page-description
        font-size: var(--h4-size)
        line-height: 120%;

    .page-subtitle
        margin-top: var(--spacing-1)

    .block-title
        font-size: var(--h2-size) !important
        text-transform: inherit
        font-family: "Barlow Cond", "Helvetica Neue", "Helvetica", sans-serif !important

    &.block-class-ressources
        .block-content
            .page-content
                background-color: $color-background-accent !important

// Cat
.taxonomies-single, .project-categories
    a
        color: var(--color-text-alt)
        font-family: "Barlow Cond"
        font-size: var(--small-size)

.categories--list
    .category-item
        .category-content
            align-items: center !important
            // gap: 8px !important

        &:hover
            a::after
                transform: translateX(0.625rem);
        a
            &::after
                content: " ";
                font-family: 'Icon';
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                speak: never;
                text-transform: none;
                display: inline;
                color: $color-ui-accent
                font-size: 22px
                transition: 0.55s cubic-bezier(0, 0.65, 0.4, 1.2);

.projects-taxonomies, .project-categories
    .cat-en-developpement
        @include category-icon('/assets/images/en-developpement.svg', .6em, .7em)

    .cat-en-production
        @include category-icon('/assets/images/en-production.svg')

    .cat-en-diffusion
        @include category-icon('/assets/images/en-diffusion.svg')

// Carousel
.block-gallery--carousel
  background-color: inherit !important
  @include media-breakpoint-up(desktop)
    .slider figure picture img
        height: calc(35 * var(--rvh)) !important

// Chapitre
.block-chapter--alt_background
  background: $color-background-alt-light


