// Images

.block-agenda--large,
.block-pages--large
    .page .media img
        aspect-ratio: $page-aspect-ratio !important


// Alerts
.alert--info
    .button
        background: inherit
        border-color: var(--color-background)


// Hero

.page-ressources
    .hero
        @include media-breakpoint-up(desktop)
            min-height: 0

body:not(.page-ressources)
    .hero
        @include media-breakpoint-up(desktop)

            min-height: var(--hero-height-desktop)

body:not(.posts__page):not(.projects__page):not(.events__page)
    .hero-text
        @include media-breakpoint-up(desktop)
            margin-top: .5rem !important

        p
            color: var(--color-text-alt)

        span
            display: none


// Social
.single-meta .social-share ul.share
    align-items: baseline

    a
        opacity: .4
        transition: $default-duration

        &:hover
            opacity: 1


// Titles

.block-title--classic h2
    border-bottom: var(--border-width) solid var(--color-border)
    margin-bottom: calc(1.5rem + .75rem)
    max-width: inherit !important
    padding-bottom: 1.5rem
    width: 100%

.block-title,
.h5
    text-transform: inherit !important

.block

    .page-subtitle
        font-weight: 400
        margin-top: var(--spacing-1)

    &.block-class-ressources
        .block-content .page-content
            background-color: $color-ressources !important

    &.block-persons
        .description p:not([class])
            @include h4

        .person-name,
        .persons--large > li .person .person-name
            @include body-text

        .person-role p:not([class])
            @include small

    &.block-call_to_action
        .block-content
            padding-bottom: var(--grid-gutter)

        .block-title
            font-size: $small-size-desktop !important
            text-transform: uppercase !important

        .description p
            font-family: $body-font-family
            font-size: $h3-size-desktop

    &.block-pages--grid
        .page-title
            font-size: $small-size-desktop
            text-transform: uppercase

    &.block-gallery--carousel
        .slider figure picture img
            height: calc(50 * var(--rvh))

    &.block-chapter
        &--accent_background
            background: rgba($footer-background-color, .8) !important

        @include media-breakpoint-up(desktop)
            &--accent_background
                background: inherit !important

            &--accent_background .chapter
                background: rgba($footer-background-color, .8) !important


// Categories

.taxonomies-single,
.project-categories
    a
        @include meta
        font-family: "Barlow Cond"

.categories--list
    .category-item
        .category-content
            align-items: center !important

        a
            &::after
                color: $color-ui-accent
                content: " "
                display: inline
                font-family: 'Icon'
                font-size: 22px
                font-style: normal
                font-variant: normal
                font-weight: normal
                speak: never
                text-transform: none
                transition: .55s cubic-bezier(0, .65, .4, 1.2)

        &:hover
            a::after
                transform: translateX(.625rem)


// Project categories icons

.projects--grid
    list-style: none
    padding-left: 0

    .media
        aspect-ratio: $img-aspect-ratio !important

.projects-taxonomies,
.project-categories
    a
        display: flex
        align-items: center

    .cat-en-developpement
        &::before
            content: ""
            display: inline-block
            width: .6em
            height: .6em
            margin-right: .4em
            border: .1rem solid var(--color-text-alt)
            border-radius: 50%

    .cat-en-production
        @include category-icon('/assets/images/en-production.svg', 1.1em, 1.1em)

    .cat-en-diffusion
        @include category-icon('/assets/images/en-diffusion.svg', 1.1em, 1.1em)


// Carousel
.block-gallery--carousel
    @include media-breakpoint-up(desktop)
        .slider figure picture img
            height: calc(38 * var(--rvh)) !important


// Agenda
.block-agenda
    &--list
        .event-schedule
            color: var(--color-text-alt)


// Persons
.persons__page .hero--with-image figure picture
    border-radius: $border-radius

@include media-breakpoint-down(desktop)
    .persons--list > li + li
        border-top: none !important


// Organizations
.organizations--grid
    grid-template-columns: repeat(3, 1fr)
    @include grid(4, sm)
    @include grid(6, desktop)