/* (pour info, à supp) */
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, desktop: 992px, lg: 992px, xl: 1200px, xxl: 1440px, xxxl: 1600px) !default

/* COLORS */
$color-danger: #FEF6AE !default
$color-text: #49413e !default
// #3A1210 #403e49
$color-text-alt: rgba($color-text, .8) !default
$color-accent: $color-text-alt !default
$color-border: $color-text-alt !default
$color-background: #fefaf7 !default
// #eef1ea #f6f6ee #fffff5
// $color-background: #FEFAF7 #fefffa #f9f1de #fefaee #f7f7ef #fff9fb #f9f2e8 #eef1ea
$color-background-alt: #e0d7d5 !default
// #e0d7d5 #e0e0d5
$color-background-alt-light: #F6F9E1 !default
$color-ui-accent: #89FF9C !default
$color-background-accent: #bcecc6  !default
// #eaf5cb #c3d2a9 #bcecc6  #fff4d7 #ecf9ef #b0d3b5 #b2d0c4 #a0d8ac #def299 #ebf698 #F6F9E1 #d3f996
// $color-background-accent: #92C8A0 !default
// $color-background-accent: #D8FCDE !default
$color-selection: $color-text !default
$color-selection-background: rgba($color-ui-accent, .7) !default


/* FONTS */
$heading-font-family: "Barlow Cond", "Helvetica Neue", "Helvetica", sans-serif
$body-font-family: "Barlow", "Helvetica Neue", "Helvetica", sans-serif
$heading-font-weight: 400 !default
$lead-font-family: $body-font-family !default
$h1-font-family: $body-font-family !default



$h1-weight: normal
$h2-weight: normal
$h3-weight: 500


/* STYLES */
// Lead
$hero-height: 300px !default
$hero-height-desktop: 400px !default

$lead-size-desktop: pxToRem(28) !default
$lead-hero-size-desktop: pxToRem(28) !default

// h1
$h1-size-desktop: pxToRem(40) !default

// h2
// $h2-size-desktop: pxToRem(25) !default

// h3
$h3-size-desktop: pxToRem(23) !default

// h4
$h4-size-desktop: pxToRem(20) !default

// Small
$small-size-desktop: pxToRem(16) !default

// Meta


/* LAYOUTS */
$grid-max-width: pxToRem(1980) !default

// Images
$border-radius: 2px !default
$img-aspect-ratio: 2.24 !default
$page-aspect-ratio: 1.35 !default

// Header
$header-background: $color-background
$header-border-bottom-width: 0
$header-logo-height: pxToRem(40)
$header-logo-height-desktop: pxToRem(70)
$hero-background-color: $color-background

// Footer
$footer-background-color: #292424
// #fefaee #d5d3c8 #f6f6ee
$footer-color: $color-background
$header-logo-height: 50px
$header-logo-height-desktop: 60px


/* COMPONENTS */
// Hero
$hero-height: 300px !default
$hero-height-desktop: 400px !default

// Call to action
$block-call-to-action-accent-color: var(--color-text)
$block-call-to-action-accent-background: $color-background-accent

// Boutons
$btn-hover-background: $color-text !default
$btn-hover-color: $color-background !default

