body:where(:not(.full-width))
  #main
    @include media-breakpoint-up(desktop)
      .document-content .block .block-content
        padding-left: 0
        padding-right: 0
        max-width: 68ch
        // padding-right: calc( calc( (var(--column-width) * 4) + var(--grid-gutter) * ( 4 - 1 )) + var(--grid-gutter))

#main
  margin-bottom: var(--spacing-6)

.alerts
  .alert
    padding: 1rem
    .alert__title
      font-size: $body-size

.primary-menu
  #navigation
    .nav-level-1 
      li
        a
          font-size: 1rem

.meta
  text-transform: uppercase;

.media
  img
    border-radius: $border-radius

// DESACTIVE HERO IMAGE
.page-no-img
  .hero-image
    display: none
    
.breadcrumb li
  &:not(:first-child)::before
    content: "—" /""
  &:last-child::before
    content: "•" /""


.taxonomies-list, .agenda-filters
  .dropdown
    button
      display: inline-flex;
      align-items: center;
      gap: 12px;
      font-size: $body-size
      font-family: $body-font-family

      &::after
        padding: 4px
        background: $color-background-alt
        border-radius: 50px
        color: $color-ui-accent
        font-size: 32px

.block-gallery--carousel
  background-color: inherit !important

.pages--grid article .media img
  aspect-ratio: 1.2;

.block-chapter--alt_background
  background: $color-background-alt-light