// main
//     margin-left: 4rem !important
//     margin-right: 4rem !important
.alerts
  .alert
    padding: 1rem

    .alert__title
      font-size: $body-size

.meta
  text-transform: uppercase;

.media
  img
    border-radius: $border-radius

.page-no-img
  .hero-image
    display: none

.block-gallery--carousel
  background-color: inherit !important

.pages--grid article .media img
  aspect-ratio: 1.2;
