.page__home
    .hero .content .hero-text
        margin-top: 2rem
    h1
        visibility: hidden
        position: absolute

    .block-class-films
        .pages
            display: flex !important
            flex-direction: column
            align-items: start !important
            
            .page
                .media
                    width: 100% !important
                    
                    img
                        aspect-ratio: 2.35 !important

    .block-class-ressources
        .page-content
            background-color : var(--color-accent)
            padding: 2rem
            min-width: 100%

        .media
            display: none
        
