.ancestor-actualites
    .taxonomies-container
        margin: 0 !important
    .pages-taxonomies
        padding-left: 0 !important

.page-actualites
    .block-title--classic h2
        margin-bottom: calc(1.5rem + 0.75rem)
    .pages--grid
        grid-template-columns: repeat(4, 1fr) !important
        article
            .page-title
                text-transform: inherit
                font-size: var(--h5-size)
            &:not(:has(.more)) [class$="-title"] a::after
                display: none
            .media img
                aspect-ratio: .75 !important
    .post-content .post-meta
        margin-top: var(--spacing-1)
