.page-actualites
    .pages--grid
        grid-template-columns: repeat(4, 1fr) !important
        article
            .page-title
                text-transform: inherit
                font-size: var(--h5-size)
            &:not(:has(.more)) [class$="-title"] a::after
                display: none
            .media img
                aspect-ratio: .75 !important
    .post-content .post-meta
        margin-top: var(--spacing-1)



.page-actualites
    .block-agenda
        margin-bottom: 6rem
        &.block-agenda--large
            img
                aspect-ratio: $page-aspect-ratio
        
    .children-categories
        li:not(:last-child)::after
            content: "/"
            margin-left: .75rem

        a
            font-size: var(--h5-size)

