.projects__page
    .hero
        .project-infos
            display: none
        .projects-taxonomies
            order: -1
            margin: 0

    .hero--with-image
        .container
            .content
                display: flex
                flex-direction: column-reverse

                .hero-image
                    width: 100%
                    align-self: center
                    
                    img
                        aspect-ratio: 2.44 !important
                        object-fit: cover

                .hero-text
                    width: 100%


                    .has-lead
                        display: grid
                        grid-template-columns: 1fr 1fr
                        gap: var(--spacing-4)

                        p
                            margin-top: 0
                        h1
                            font-style: italic
                            span
                                font-style: initial !important
