.projects, .posts--grid
    .cat-en-diffusion
        order: -1

    .cat-en-developpement, .cat-en-production
        .project-meta
            display: none
    
    .project
        .media
            aspect-ratio: $img-aspect-ratio !important

        .project-description
            .project-title a, .project-subtitle
                font-family: $body-font-family
                font-weight: 400
                font-style: italic
                color: $color-text !important
            .project-subtitle
                font-style: normal

