.projects__page
    .toc-cta,
    .section-sidebar
        display: none !important

    .share, .dropdown-share
        display: none


    .hero
        .hero-text
            padding-bottom: 0

        .project-infos
            display: none

        .projects-taxonomies,
        .projects-meta
            order: -1

        .projects-taxonomies
            margin: 0

        .projects-meta
            margin-top: 0


    .hero--with-image
        .container
            .content
                display: flex
                flex-direction: column-reverse

            .hero-image
                align-self: center
                width: 100%

                picture
                    margin-left: var(--grid-gutter-negative)
                    margin-right: var(--grid-gutter-negative)

                    @include media-breakpoint-up(desktop)
                        margin-left: inherit
                        margin-right: inherit

                img
                    aspect-ratio: $img-aspect-ratio !important
                    object-fit: cover

            .hero-text
                width: 100%

                .taxonomies-single a
                    @include meta

                .has-lead
                    b
                        font-weight: 400 !important

                    @include media-breakpoint-up(desktop)
                        display: grid
                        gap: var(--spacing-4)
                        grid-template-columns: 1fr 1.4fr
                        row-gap: var(--spacing-1)

                    h1
                        font-style: italic

                        span
                            font-style: initial !important

                    > :first-child
                        grid-column: 1
                        grid-row: 1
                        padding-bottom: var(--spacing-3)

                    > :not(:first-child)
                        grid-column: 2

                        &:has(b)
                            @include small
                            color: var(--color-text-alt)

                    > p:has(b)
                        padding-top: var(--spacing-3)

                    > p:has(b) ~ p:has(b)
                        padding-top: 0

                    p
                        margin-top: 0

                    b
                        font-style: normal !important


    .blocks

        // Personnes
        .persons--large > li .person
            .description
                text-align: center
            .more
                margin-bottom: $spacing-2
                margin-top: $spacing-1


        @include media-breakpoint-up(sm)
            display: grid
            column-gap: var(--spacing-4)
            grid-template-columns: repeat(2, minmax(0, 1fr))
            row-gap: 0

            > *
                grid-column: 1 / -1

            > .block-persons

                grid-column: span 1
                margin-bottom: 0
                margin-top: var(--grid-gutter)
                min-width: 0

                &:first-of-type
                    .container
                        padding-right: 0

                & + .block-persons
                    .container
                        padding-left: 0


                .persons--large > li .person
                    .avatar
                        align-self: center


        @include media-breakpoint-up(desktop)
            column-gap: var(--spacing-5)

            .persons--large > li .person
                .description
                    text-align: left
                .avatar
                    width: columns(2) !important



        // Titres des blocs

        .block-title:not(.block-title--collapsed):not(.block-title--classic)
            border-bottom: var(--border-width) solid var(--color-border)
            padding-bottom: $spacing-2
            width: 100%

        .block-posts .block-title
            border: inherit !important

        // Galerie

        #galerie
            position: absolute
            visibility: hidden

        .block-gallery
            background-color: inherit !important
            margin-bottom: 0
            margin-top: var(--grid-gutter)
            padding-bottom: 0

        // Festivals
        .block-class-festivals
            margin-bottom: var(--grid-gutter)
            padding: var(--spacing-5) var(--spacing-2)

            .top
                margin-bottom: 0
            h2
                position: absolute
                visibility: hidden
            .text
                color: var(--color-text-alt)
                width: 100% !important

                p
                    @include small
                    margin-top: 0



        // Vidéo

        .block-video--player
            background: inherit
            margin: 0

            .block-title, &[aria-hidden="true"]
                position: absolute
                visibility: hidden


        // Générique
        .block-datatable
            thead
                display: none

            tbody
                td
                    border-top: var(--border-width) solid rgba($color-text-alt, .4)
                tr:first-child td
                    border-top: 0
                td:first-child
                    color: var(--color-text-alt)

        // Posts
        .block-posts
            background-color: inherit

            @include media-breakpoint-up(desktop)
                grid-column: span 1
                margin: var(--grid-gutter) 0

                .container
                    padding-right: inherit


            .block-content
                background-color: $color-ressources
                border-radius: .7rem
                padding: var(--spacing-4) var(--spacing-3)


            .top
                margin-bottom: 0

                a::after
                    display: none


            .posts--list
                > li
                    border: inherit
                    margin: inherit
                    padding: inherit

                    a
                        @include icon(arrow-right-line, after, true)
                        @include hover-translate-icon

                        &::after
                            position: relative

            .post-title
                @include body-text