.page-films
    .projects
        .project
            .project-description
                .project-title
                    font-style: italic !important
                    font-size: $h2-size-desktop
                .project-subtitle
                    font-size: $h3-size-desktop
                    font-weight: 400
                    color: $color-text
