#document-header
    .primary-menu
        .menu
            .nav-search
                margin-left: 2rem
                .search-button
                    &::after
                        font-size: 22px
                        opacity: .6