.page__home
    .hero
        padding-bottom: var(--spacing-3)
        min-height: inherit

        .hero-text
            margin-top: calc(var(--grid-gutter) * 1)

            hgroup
                h1
                    visibility: hidden
                    position: absolute
                
                p
                  font-size: pxToRem(33)
                  color: var(--color-text-alt)
    .blocks
        .block
            .page-title
                font-size: $small-size-desktop
                text-transform: uppercase
                margin-top: var(--space-unit)

        .block-pages--grid:not(.block-class-films)
            @include media-breakpoint-up(desktop)
                margin-top: calc(var(--grid-gutter) * 1.5)
                margin-bottom: calc(var(--grid-gutter) * 2)

                .pages--grid
                    grid-gap: var(--spacing-3)
                    .page-subtitle
                        padding-right: var(--spacing-3)

        .block-class-films
                        
            .block-content
                .pages
                    display: flex !important
                    flex-direction: column
                    align-items: start !important

                    li
                        width: 100%

                    .media img
                        aspect-ratio: $page-aspect-ratio
            
            @include media-breakpoint-up(desktop)
                .container
                    padding-left: var(--spacing-1)
                    padding-right: var(--spacing-1)
                    hgroup
                        padding-left: var(--grid-gutter)
                        padding-right: var(--grid-gutter)
                    .media img
                        aspect-ratio: $img-aspect-ratio !important

                  
                                    
        .block-call_to_action
            .block-title
                font-size: $small-size-desktop
            .description p
                font-size: $h3-size-desktop
                font-family: $body-font-family
                

        // a supprimer si CTA
        .block-class-ressources
            .page-content
                text-align: center
                background-color : var(--color-background-alt)
                padding: 4rem 2rem
                min-width: 100%

            .media
                display: none