.page__home
    .hero
        min-height: inherit
        padding-bottom: var(--spacing-3)

        .hero-text
            margin-top: calc(var(--grid-gutter) * 1)

            hgroup
                h1
                    visibility: hidden
                    position: absolute
                p
                    @include h1
                    color: var(--color-text-alt)


    .block
        .page-title
            margin-top: var(--space-unit)

        &.block-pages--grid:not(.block-class-films)
            @include media-breakpoint-up(desktop)
                margin-bottom: calc(var(--grid-gutter) * 2)
                margin-top: calc(var(--grid-gutter) * 1.5)

                .pages--grid
                    grid-template-columns: repeat(3, 1fr)
                    gap: var(--spacing-4)

                    .page-subtitle
                        padding-right: var(--spacing-3)


        &.block-class-films
            .block-content
                .pages
                    display: flex !important
                    flex-direction: column
                    align-items: start !important

                    li
                        width: 100%

                    .media
                        img
                            aspect-ratio: $page-aspect-ratio


            @include media-breakpoint-up(desktop)
                .container
                    padding-left: var(--spacing-1)
                    padding-right: var(--spacing-1)

                    hgroup
                        padding-left: var(--grid-gutter)
                        padding-right: var(--grid-gutter)

                    .media
                        img
                            aspect-ratio: $img-aspect-ratio !important


        &.block-call_to_action
            background: none

            @include media-breakpoint-up(desktop)
                .block-content
                    padding-bottom: var(--grid-gutter)
                    padding-top: 0

            .call_to_action
                background: $color-ressources
                padding: calc(var(--grid-gutter) * 1.5) var(--grid-gutter)
