.page__home
    .hero
        padding-bottom: 1rem
        min-height: 160px

        .hero-text
            margin-top: 2rem

            hgroup
                h1
                    visibility: hidden
                    position: absolute
                
                p
                  font-size: pxToRem(33)
                  opacity: .75
    
    .block-class-films
        .block-content
            .pages
                display: flex !important
                flex-direction: column
                align-items: start !important

                li
                    width: 100%
                
                .page
                    .media
                        width: 100% !important
                        
                        img
                            aspect-ratio: 2.35 !important

    .block-class-ressources
        .page-content
            background-color : var(--color-background-alt)
            padding: 2rem
            min-width: 100%

        .media
            display: none