header#document-header
    .primary-menu
        @include media-breakpoint-up(desktop)
            padding-bottom: 3rem
            padding-top: 1rem

        a:hover
            color: var(--color-text-alt)

        .nav-level-1 a, .nav-level-2 a
            @include meta
            font-family: var(--body-font-family)

        @include media-breakpoint-up(desktop)
            .nav-search
                margin-left: 4rem

                .search-button::after
                    font-size: 22px
                    opacity: .6

.footer-contents
    background: $footer-background-color
    color: $footer-color
    font-size: 17px !important
    line-height: var(--meta-line-height)
    padding-top: var(--spacing-2) !important

    .blocks > div
        margin: 0 !important

    .block:first-child
        .block-content
            padding-bottom: var(--spacing-3)
            padding-top: var(--spacing-3)

footer#document-footer
    @include media-breakpoint-up(desktop)
        padding: 0 !important

    .footer-credit, .site-links,
    .nav-legal
        font-size: var(--small-size)

    .footer-logo
        display: none !important

    .container
        align-items: flex-start !important
        flex-direction: column-reverse
        padding-block: 0 !important

    .site-links,
    .nav-legal
        align-items: baseline
        display: flex
        flex-flow: column wrap
        gap: var(--spacing-1)
        margin-bottom: var(--spacing-1)
        
        @include media-breakpoint-up(desktop)
            flex-flow: row wrap 
            gap: var(--spacing-3)
            margin-bottom: var(--spacing-3)     

    .site-links
        font-size: .7em
        flex-flow: row wrap
        gap: var(--spacing-2)

        li
            flex-flow: row-reverse wrap

            &::after
                margin-left: 0
                margin-right: .7em
                font-size: 1em

    .footer-legals
        border-top: 1px solid $footer-color
        margin-top: var(--spacing-3)
        padding-top: var(--spacing-3)
        width: 100%

        li,
        .footer-credit
            margin-top: 0

    @include media-breakpoint-down(desktop)
        .container
            + .container,
            > *
                margin-top: 0

    @include media-breakpoint-up(desktop)
        .footer-legals
            align-items: baseline
            display: flex
            flex-direction: row-reverse
            justify-content: space-between

.page-no-cat-btn
    .taxonomies-list--dropdown
        display: none