.page-coop
    .block-persons--large
        .persons--large
            display: grid
            grid-template-columns: 1fr 1fr
            gap: var(--grid-gutter)
            margin-top: var(--grid-gutter)

            > li + li
                margin-top: 0

            .person
                span: 1
                display: flex
                flex-flow: column wrap
                justify-content: center
                align-items: center

                .person-name
                    text-align: center

                .more, .meta
                    display: none

.persons__page
    .person-objects
        section
            padding-bottom: 0 !important
            padding-top: var(--spacing-3) !important
    .h5
        border-bottom: var(--border-width) solid var(--color-border)
        margin-bottom: calc(1.5rem + .75rem)
        max-width: inherit !important
        padding-bottom: 1.5rem
        width: 100%