.posts__page,
.posts__section,
.posts_categories__term

    .hero,
    #document-header
        background-color: $color-ressources


    .hero-image
        figcaption::before 
            background: transparent !important

    .hero-text
        .hero-actions .btn
            &:hover
                border-color: var(--color-text) !important

    .hero-meta
        column-gap: 0 !important

        a
            color: var(--color-text) !important

        .authors
            display: inline-flex

            &::before

                content: " • "
                margin-left: space()
                margin-right: space()



    .taxonomies-list--dropdown
        [aria-controls="categories-"]
            display: none



.page-ressources
    .hero-text
        width: 100%

        @include media-breakpoint-up(desktop)
            .has-lead
                display: grid
                gap: var(--grid-gutter)
                grid-template-columns: repeat(12, 1fr)

                h1
                    grid-column: 1 / 5

                p
                    grid-column: 6 / 13
                    margin-top: .4rem


.ancestor-ressources,
.page-ressources
    .block-page-ressources
        .top
            display: none !important

    .block-categories
        order: -1
        background: $color-ressources
        display: flex
        gap: 2rem
        margin-top: 0 !important
        padding-top: var(--heading-margin-bottom)
        padding-bottom: var(--block-space-y)

        .category-content
            background: var(--color-background-alt);
            padding: .5rem 1rem;
            border-radius: 50px;
            @include icon(arrow-right-line, after, true)
            @include hover-translate-icon
            white-space: nowrap

            &::after
                color: $color-ui-accent


        .articles-count
            margin-top: 0
            opacity: .8
            font-size: .6em


            &::before
                content: "("
            &::after
                content: ")"

        .categories
            display: flex
            align-items: baseline
            flex-wrap: wrap
            gap: .5em

            li
                margin-top: 0 !important

        .category-content
            align-items: baseline
            display: flex
            gap: 5px

        .posts_category-title
            font-size: var(--small-size) !important

            a::after

                display: none !important