.posts__page,
.posts__section,
.posts_categories__term

    .hero,
    #document-header
        background-color: $color-ressources

    .hero-image
        figcaption::before 
            background: transparent !important

    .hero-meta
        column-gap: 0 !important

        a
            color: var(--color-text) !important

        .authors
            display: inline-flex

            &::before

                content: " • "
                margin-left: space()
                margin-right: space()



    .taxonomies-list--dropdown
        [aria-controls="categories-"]
            display: none



.page-ressources
    .hero-text
        width: 100%

        .has-lead
            display: grid
            gap: var(--grid-gutter)
            grid-template-columns: repeat(12, 1fr)

            h1
                grid-column: 1 / 5

            p
                grid-column: 6 / 13
                margin-top: .8rem


.ancestor-ressources,
.page-ressources
    .block-page-ressources
        .top
            display: none !important

    .block-categories
        background: $color-ressources
        display: flex
        gap: 2rem
        margin-top: 0 !important
        order: -1
        padding-bottom: var(--grid-gutter)

        .articles-count
            &::before
                content: "("
            &::after
                content: ")"

        .categories
            display: flex

        .category-content
            align-items: baseline
            display: flex
            gap: 5px

        .posts_category-title
            font-size: var(--meta-size) !important

            a::after

                display: none !important