.ancestor-ressources,
.page-ressources
    .hero, #document-header
        background-color : $color-background-accent

.ancestor-ressources
.page-ressources,

    .document-content
        display: flex
        flex-flow: column

        > .container:not(.children-categories)
            display: none

    .container .categories--grid
        display: none !important

    .block-page-ressources
        .top
            display: none !important

    .children-categories
        order: -1
        display: flex
        gap: 2rem
        background: $color-background-accent
        margin-top: 0 !important
        
        li a
            background-color: var(--color-background)
            padding: var(--spacing-1) var(--spacing-2)
            border-radius: 18px
            text-decoration: none
            

            

